function Tetramino.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 16
call Array.new 1
pop this 1
push pointer 0
push constant 0
call Tetramino.setRotation 2
pop temp 0
push pointer 0
return
function Tetramino.setRotation 4
push argument 0
pop pointer 0
push argument 1
push constant 4
call MathExt.mod 2
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 15
lt
not
if-goto WHILE_END0
push local 1
push constant 4
call MathExt.mod 2
pop local 2
push local 1
push constant 4
call Math.divide 2
pop local 3
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push this 1
add
push local 1
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push this 1
add
push constant 12
push local 3
add
push local 2
push constant 4
call Math.multiply 2
sub
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push local 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push this 1
add
push constant 15
push local 3
push constant 4
call Math.multiply 2
sub
push local 2
sub
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
push local 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push this 1
add
push constant 3
push local 3
add
push local 2
push constant 4
call Math.multiply 2
add
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Tetramino.getRepresentationArray 0
push argument 0
pop pointer 0
push this 1
return
function Tetramino.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push this 1
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
