function Main.main 2
push constant 6
call String.new 1
push constant 45
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 51
call String.appendChar 2
pop local 0
push local 0
call String.intValue 1
pop local 1
push constant 0
return
